@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@600;700&family=Martian+Mono:wght@300;400;500&display=swap");

body {
  margin: 0;
  font-family: "Martian Mono";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
